body {
    background-color: #f8f9fa;
}
.display-4 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.lead {
    margin-bottom: 30px;
}

.btn.rounded-circle i {
    position: relative;
    top: 1px;
}
